<div class="container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<select class="form-control category-dropdown" [(ngModel)]="selectedCategory" (change)="onCategorySelected()" >
				<option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
			</select>
			<button class="btn" type="button" (click)="openCategoryDialog()" ><i class="fas fa-plus"></i></button>
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-body"><b>Question:</b><br/>{{fc.question}}</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div style="min-height: 10em;" class="panel panel-primary">
			  <div class="panel-body"><b>Answer:</b><br/>{{fc.answer}}</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="flashcard-button-container">
				<button class="btn" type="button" (click)="getPreviousFlashcard()" >Previous</button>&nbsp;
				<button class="btn" type="button" (click)="getRandomFlashcard()" >Random</button>&nbsp;
				<button class="btn" type="button" (click)="getNextFlashcard()" >Next</button>&nbsp;
				<button class="btn" type="button" (click)="openFlashcardDialog()" ><i class="fas fa-plus"></i></button>
			</div>
		</div>
	</div>
</div>